<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/js/script.js"></script>
</head>
<body>
    <div class="container">
        <h2>Welcome to the Backend Starter Template.</h2>
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Signup</a>
        <a href="/auth/logout">Logout (if logged in)</a>
        <a href="/routes/public-route">Public Route</a>
        <a href="/routes/private-route">Private Route</a>
    </div>
</body>
</html>